#login-page-overlay {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-y: auto;
  background-image: url('./../../assets/gradient.jpeg');
}

#login-page-overlay * {
  color: white;
}

#login-page-content {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 25%;
  min-width: 300px;
  min-height: 200px;
  border-radius: 25px;
}

#login-image {
  width: 40%;;
}

.login-info {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.login-info-textbox {
  position: relative;
  background-color: inherit;
  border: none;
  color: white;
  width: 100%;
  font-size: 18px;
  background-color: transparent;
}

.login-info-textbox::placeholder {
  color: lightgray;
  font-size: 12px;
}

.login-auth-button {
  background-color: inherit;
}

.login-auth-button:hover {
  border: 1px solid white;
}

#login-button {
  width: 100%;
}

#login-account-creation {
  display: flex;
  align-items: center;
  gap: 5px;
}

#login-page-overlay img {
  filter: invert(1);
}